<div class="row">
        <div class="col">
            <a class="navbar-brand" href="#">APPART</a>
        </div>
        <div class="col">
            <ul class="nav d-flex justify-content-center">
                <li class="nav-item">
                    <%= link_to "Location", locations_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">A propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="col d-flex justify-content-end">
            <% if user_signed_in? %>
                <%= link_to  "Deconnexion", destroy_user_session_path, method: :DELETE, data: { confirm:'Voulez-vous vous deconnecter ?' }, class: 'btn btn-primary' %>
            <% else %>
                <%= link_to  "Inscription", new_user_registration_path, class: 'btn btn-outline-primary"' %> <%= link_to  "Connexion", new_user_session_path, class: 'btn btn-outline-primary"' %>
            <% end %>
        </div>
</div>