<div class="row">
        <div class="col">
            <a class="navbar-brand">APPART</a>
        </div>
        <div class="col">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">A propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="col">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Recherche d'appart..." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
            </form>
        </div>
</div>