<% content_for :dashboard_content do %>
    <div class="jumbotron user-connecte">
        <h1 class="display-4">103677</h1>
        <div class="lead">Utilisateurs connectés</div>
    </div>
<% end %>

<%= render template: 'pages/dashboard' %>