/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/


body{
    background-color: rgba(204, 204, 204, 0.164);
}

.form-group {
    margin-top: 3px;
    margin-bottom: 3px;
}

.info{
    width: 40%;
    margin-left: 50px;
    margin-top: auto;
}

.navigation{
    background-color: #c6a800;
    padding-right: 30px;
    padding-left: 30px;   
    padding-top: 3px;
    padding-bottom: 3px;
}

.background{
    background-image: url(https://appartml.s3.us-east-2.amazonaws.com/bko-plane-view.jpg);
    position: relative;
    height: 400px;
    width: 100%;
}

.layer{
    background-color: #ffff6ba9;
    position: absolute;
    height: 400px;
    width: 100%;
    padding-top: 40px;
    margin: auto;
    padding: 20px;
}

.form {
    margin-top: 30px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #fdd835;
    color: black;
    border:0 !important;
}

.btn-login {
    color: #000000;
    background-color: #fdd835;
    height: 35px;
    padding-top: 5px;
}

.btn-login:hover {
    color: #000000;
    background-color: #ffff6b;
}

.btn-custom{
    color: #000000;
    background-color: #fdd835;
}

 .btn-outline-custom{
    color: #fdd835;
    border-color: #fdd835;
    background-color: #ffffff;
}
    
.btn-outline-custom:hover{
    color: black;
    background-color: #fdd835;
    border-color: #fdd835;
}

#btn_creation{
    margin-top: 10px;
    margin-left: 20px;
}


@media (max-width: 768px) {  
    .titre {
        font-size: 2rem;
        padding-left: 0;
        padding-right: 0;
    }
  }

  @media (max-width: 576px) {

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.35rem;
    }

      h5 {
          font-size: 1rem;
      }

      h6 {
          font-size: .8rem;
      }

      p, ol, ul, td {
        font-size: 11px;
        line-height: 12px;
    }

    .col-6, .col-4 {
        padding-left: 3px;
        padding-right: 3px;
    } 

    .badge-type {
        font-size: 11px;
    }

    .card-body {
        padding: 0.25rem
    }

    .form-group {
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .form-inline {
        margin-top: -2rem;
    }

    .search-bar {
        padding: 10px;
    }

    .search-bar {
        padding: 10px;
    }

    .location-item-title {
        font-size: 14px;
    }

    .location-item-price {
        font-size: 1rem;
        font-weight: 400;
    }

    #badge {
        font-size: 9px;
    }

    .image-adresse {
        height: 80px;
    }

    #type-image {
        height: 90px;
    }

    .location-item-image {
        height: 90px;
    }
  }