// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 #appart{
    //width: 100%;
    //height: 200px;
    padding: 5px;
    margin-bottom: 20px;
 }

 .titre {
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 300;
    text-align: center;
    padding-left: 7%;
    padding-right: 7%;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}
 #type-image{
    height: 200px;
}

#image{
    width: 100%;
    height: 200px;
    border-radius: 3%;
    padding: 10px;
}
#badge{
    font-size: 12px;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(133, 50, 21);
    font-weight: bold;
}

.text-title-bar {
    border-bottom: 2px solid rgb(133, 50, 21);
    width: 25vh;
}


#section_type{
    padding-bottom: 20px;
}

.search{
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

.search-bar{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#adresses{
    margin-bottom: 45px;
}

.image-adresse{
    width: 100%;
    height: 120px;
    border-radius: 3%;
    padding: 3px;
}

.adresse-content {
    margin-top: 10px;
    margin-bottom: 10px;

}
.profil-content {
    font-size: 16px;
    line-height: 24px;
    margin: 20px;
    padding: 5px;
}

.profil-title {
    color: rgba(0, 0, 0, 0.61)
}

.profil-image {
    width: 100%;
    height: 40vh;
}


footer{
    margin-top: 40px;
    text-align: center;
}

@media (max-width: 768px) {

    .profil-image {
        height: 15vh;
    }

    .text-location-bar{
        margin-left: 30%
    }
}

@media (max-width: 576px) {
    .search{
        margin-top: 50px;
    }

    .text-location-bar {
        margin-left: 23%;
    }

}