// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.modal-content{
    border: 0px
}
.modal-title{
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
}
#date{
    color: red;
}