<div class="container">
        <h1>Création de location</h1>
  <div class="d-flex justify-content-center h-100">

        <%= render 'form', location: @location %>

        <!--<%= link_to 'Back', locations_path %>-->
    </div>
</div>